input[type="text"] {
  border-radius: 8px;
  border: solid thin grey;
  width: 100%;
  padding: 10px;
  background-color: black;
  color: white;
  margin-bottom: 10px;
}

a:hover {
  color: lightgrey;
}

.center-content img,
.center-content svg,
.center-content video {
  margin-left: unset;
  margin-right: unset;
}
.button[disabled] {
  cursor: not-allowed;
  opacity: 0.6;
  color: white;
  background-color: #0a6c0e !important;
}

textarea {
  margin-bottom: 10px;
  width: 100%;
  border: solid thin grey;
  background-color: black;
  height: 100px;
  color: white;
  padding: 10px;
}

label {
  color: white;
}

input[type="radio"]:checked:after {
  background-color: green;
  width: 15px;
  height: 15px;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: 1px;
  position: relative;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}
