input[type="text"] {
  border-radius: 8px;
  border: solid thin grey;
  width: 100%;
  padding: 10px;
  background-color: black;
  color: white;
  margin-bottom: 10px;
}

a:hover {
  color: lightgrey;
}

.center-content img,
.center-content svg,
.center-content video {
  margin-left: unset;
  margin-right: unset;
}
.button[disabled] {
  cursor: not-allowed;
  opacity: 0.6;
  color: white;
  background-color: #0a6c0e !important;
}

textarea {
  margin-bottom: 10px;
  width: 100%;
  border: solid thin grey;
  background-color: black;
  height: 100px;
  color: white;
  padding: 10px;
}

label {
  color: white;
}

input[type="radio"]:checked:after {
  background-color: green;
  width: 15px;
  height: 15px;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: 1px;
  position: relative;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

@media (min-width: 998px) {
  .container-md.mobile {
    text-align: left;
  }
  .container-sm.mobile {
    text-align: left;
    margin-left: 0;
  }
  .container-xs.mobile {
    margin-left: 0;
  }
  .mobile .center-content .button-group {
    justify-content: left;
  }
  .mobile .button-group {
    justify-content: left !important;
  }
  .mobile .button-group .btn1 {
    margin: 8px;
  }
  .desktop-hide {
    display: none;
  }
  .hero-image-desktop {
    background: linear-gradient(to right, rgba(21, 23, 25, 1) 50%, rgba(21, 23, 25, 0.2)),
      linear-gradient(rgba(21, 23, 25, 0.5), rgba(21, 23, 25, 0)), url("./assets/images/cool-truck.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .pricing p {
    font-size: 25px;
  }
}

@media (max-width: 997px) {
  .btn1 {
    width: 100%;
    margin: 8px;
  }
}
